
build*
!build.sh
clang_tidy

# CANape artefacts
*.hex 
*.mf4
*.csv
*.cnaxml
*.tmp
*.fup
CANape.aml
CANapeTmpMea.ini
RecycleBin.ini


# Examples .a2l, *.elf and .bin files
/*.a2l
*.elf
!/tools/xcpclient/fixtures/*.elf
*.bin

# Temporary files
test_bintool
*.bak
*.log
*.pcap

# Other
TODO.md
.vscode
.claude
.DS_Store
/ptptool.obs
/shm_*.sh
wlan.h
/examples/freertos_demo/freertos_stm32_demo/CANape/CmpConfig.json
/test.txt
/docs/info/SUBMODULE_GUIDE.md
/docs/info/CPP_TYPE_TRAITS_GUIDE.md
/docs/rcu_improvements/CAL_RCU_IMPROVEMENT.md
/docs/rcu_improvements/rcu.h
/docs/rcu_improvements/review.md
